<div id="nav" layout="row top-left">
    <div self="left">
        <a href="/"><div class="logo logo-isNotVisIfMobile">{{ site.title }}</div></a>
        <a href="/"><div class="logo logo-isVisIfMobile"></div></a>
    </div>
    <div class="nav-isNotVisIfMobile" style="display: none">
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
    </div>
    <div class="nav-isVisIfMobile" style="display: none">
        <div class="item">
            <a href="/tags">Tags</a>
        </div>
    </div>
</div>
