<!--   Core JS Files   -->
<script type="text/javascript" src="{{ "/assets/js/jquery-2.1.0.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/global.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/homepage.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.mixitup.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/list.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/smooth-scroll.js" | prepend: site.baseurl }}"></script>
